.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 225px;
    background: mediumslateblue;
    color: #fff;
    padding: 20px;
    height: 100vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.sidebar h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar .sidebarLinks {
    margin-bottom: 10px;
    font-family: 'Segoe UI Light';
    font-weight: lighter;
}

.sidebar a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.content {
    position: relative;
    margin-left: 225px;
    width: 100%;
    flex: 1;
    background: whitesmoke;
    height: 100vh;
    overflow-x: hidden;
}