.nav-link{
    margin-inline: 2rem;
    color: white;
}

.nav-item .active {
    border-bottom: 3px solid blue;
}

.nav-link:hover{
    color: gainsboro;
}

#website-navbar{
    background: white;
    color: white;
    padding: 1.2rem;
}