.social-bar{

    background: whitesmoke;
    height: 35px;

    ul{
        list-style-type: none;
        display: flex;
        float: right;
        padding: 5px;
    }

    .social-link{
        margin-inline: 1rem;
        margin-right: 5rem;
    }
}